@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Titillium+Web:400,700');

.roboto {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.tweb {
    font-family: 'Titillium Web', sans-serif;
}


/* glb style */
.underline {
    text-decoration: underline;
}
.heavy {
    font-weight: bold;
}

.white-txt {
    color: white;
}

.carousel-caption {
    background-color: rgba(0,0,0,.5);
    color: white;
    
}

.t-bg {
    
    color: white;
    background-color: rgba(0,0,0,.5);
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 2px;
}
footer span {
    text-shadow: rgba(225,225,225,.5);
    color: white;
    background-color: rgba(0,0,0,.5);
    border-radius: 4px;
    padding: 4px;
}
.shadow {
    box-shadow: 10px 10px 5px #000;
}
.border {
    border: 2px solid black;
}
.dashed {
    border: 2px dashed black;
}

html, body {
    height: 100%;
    width: 100%;
    
   
}
.container-fluid {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.port-bg {
    background-image: url('../img/folder.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar {
    position: sticky;

} 

.nav-item {
    color: white;
}

.logo {
    width: 80px;
}
.nav-link {
    font-size: 18px;
}


.nav-item a {
    color: inherit;
}

/* body content */
.p-container {
    display: flex; 
    justify-content: center;  
}

.btn {
    font-size: 20px;
    transition: transform .2s; 
    margin: 20px;
}

.btn:hover {
    transform: scale(1.2);
}

.hi {
    margin-top: 20px;
    animation: fadeIn 3s linear;
}


.type-container {
    margin: 10px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.typed {
    font-size: 30px;
}

.chev {
    padding: 5px;
}

.progress-container {
    padding-bottom: 20px;
}
.progress {
    margin-bottom: 5px;
    height: 30px;
    font-size: 20px;
}

.img-thumbnail {
    min-width: 100px;
}

/* contact */

.card {
    min-width: 150px;
    margin: 20px;
    border-radius: 8px;
}

.card-link {
    font-size: 20px;
}
.card-text {
    font-size: 20px;
}

.contact-pg {
    background-image: url('../img/contact-bg.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 20px;
}


.form-container {
    background-color: rgba(225,225,225,.9);
    box-shadow: 10px 10px 15px black;
    border-radius: 8px;
}

label, legend {
    font-size: 15px;
    color: black;
}
::-webkit-input-placeholder {
    color:red;
}

::-moz-placeholder {
    color:red;
}

::-ms-placeholder {
    color:red;
}

::placeholder {
    color:red;
}

.social-icon {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon-li {
    padding: 20px;
}
.icon-container {
    display: flex;
    flex-direction: row;
}
.icon-container div a {
    text-decoration: none;
    transition: 0.2;
}
.icon-container div a:hover {
    transform: scale(1.1);
}
/* nav social btn */
.n-btn {
    width: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
}
/* no text decor hover */
.social-menu li a {
    text-decoration: none;
    transition: 0.2;
}
.social-menu li a:hover {
    transform: scale(1.1);
}
.s-btn {
    width: 70px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa-github {
    background-color: #000;
    color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
    
  }

  .about-bg {
    background-color: #000;
    background-image: none;
    overflow: auto;
  }

  /* about pg carousel */
.carousel-container {
    margin-top: 10px;
    padding-bottom: 200px;
}

.about-txt {
    font-size: 20px;
}

.carousel-inner>.carousel-item >img {
    position: relative;
    width: auto;
    max-height: 600px;
}

.carousel-indicators {
    position: relative;
    align-content: center;
}

/* footer 

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    font-size: 15px;
    color: white;
    text-align: center;
    min-height: 50px;
    padding-top: 10px;
}
*/

/* animation */

.fadein1 {
    animation: fadeIn 3s linear;
}

.fadein2 {
    animation: fadeIn 4s linear;
}

.fadein3 {
    animation: fadeIn 5s linear;
}
.fadein4 {
    animation: fadeOut .5s linear 5s infinite;
}

.slideright {
    animation: slideright 3s linear 3s;
}

/* media query */

@media screen and (max-width: 480px) {
    
    .social-menu {
        display: none;
    }
    .hi {
        font-size: 20px;
    }

    .port-bg {
        overflow: scroll;
    }

 
    .card-deck {
        margin-bottom: 50px;
    }
    .email {
        display: none;
    }

}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}